name: Build CzechDraughts

on:
  push:
    paths:
      - '**/*.cs'
      - '**/*.yml'
      - '**/*.csproj'
      - '**/*.sln'

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            rid: linux-x64
          - os: windows-latest
            rid: win-x64
          - os: macos-15-intel
            rid: osx-x64
          - os: macos-latest
            rid: osx-arm64

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish AOT self-contained
        run: dotnet publish -c Release -r ${{ matrix.rid }} --self-contained true -p:PublishAot=true -p:DebugType=None -p:PublishTrimmed=true -p:DebugSymbols=false

      - name: Remove macos debug
        shell: pwsh
        run: |
          if ($env:RUNNER_OS -ne "Windows") {
              rm -rf bin/Release/net8.0/${{ matrix.rid }}/native/CzechDraughts.dSYM
          }

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: CzechDraughts-${{ matrix.rid }}
          path: bin/Release/net8.0/${{ matrix.rid }}/native/*
