name: Build CzechDraughts

on: [push]

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            rid: linux-x64
          - os: windows-latest
            rid: win-x64
          - os: macos-15-intel
            rid: osx-x64
          - os: macos-latest
            rid: osx-arm64

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish AOT self-contained
        run: dotnet publish -c Release -r ${{ matrix.rid }} --self-contained true -p:PublishAot=true -p:DebugType=None

      - name: Zip build
        shell: pwsh
        run: |
          $output = "bin/Release/net8.0/${{ matrix.rid }}/CzechDraughts-${{ matrix.rid }}.zip"
          if ($env:RUNNER_OS -eq "Windows") {
              Compress-Archive -Path "bin/Release/net8.0/${{ matrix.rid }}/native/*" -DestinationPath $output
          } else {
              cd bin/Release/net8.0/${{ matrix.rid }}
              zip -r CzechDraughts-${{ matrix.rid }}.zip native/*
          }

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: CzechDraughts-${{ matrix.rid }}
          path: bin/Release/net8.0/${{ matrix.rid }}/CzechDraughts-${{ matrix.rid }}.zip
